[Unit]
Description=Boggart
After=network.target

[Service]
ExecStart=/home/pi/go/src/github.com/kihamo/boggart/cmd/boggart/boggart
EnvironmentFile=/home/pi/go/src/github.com/kihamo/boggart/cmd/boggart/boggart.env
WorkingDirectory=/home/pi/go/src/github.com/kihamo/boggart/cmd/boggart
Restart=always
User=root

[Install]
WantedBy=multi-user.target