---

swagger: "2.0"
info:
  title: "Yandex SpeechKit Cloud"
  version: "0.1.0"
schemes:
- "https"
host: "tts.voicetech.yandex.net"
basePath: "/"
paths:
  /generate:
    get:
      operationId: "generate"
      tags:
      - "generate"
      parameters:
      - name: "key"
        in: "query"
        description: "API Key"
        type: "string"
        required: true
      - name: "text"
        in: "query"
        description: "Текст, который нужно озвучить, в кодировке UTF-8"
        type: "string"
        required: true
      - name: "format"
        in: "query"
        description: "Формат синтезируемого аудио"
        type: "string"
        enum:
        - "mp3"
        - "wav"
        - "opus"
      - name: "quality"
        in: "query"
        description: "Частота дискретизации синтезируемого аудио"
        type: "string"
        enum:
        - "hi"
        - "lo"
      - name: "lang"
        in: "query"
        description: "Язык"
        type: "string"
        enum:
        - "ru-ru"
        - "en-us"
        - "uk-uk"
        - "tr-tr"
      - name: "speaker"
        in: "query"
        description: "Желаемый голос для синтеза речи"
        type: "string"
        enum:
        - "jane"
        - "oksana"
        - "alyss"
        - "omazh"
        - "zahar"
        - "ermil"
      - name: "emotion"
        in: "query"
        description: "Эмоциональная окраска голоса"
        type: "string"
        enum:
        - "good"
        - "neutral"
        - "evil"
      - name: "speed"
        in: "query"
        description: "Скорость (темп) синтезированной речи"
        type: "number"
        maximum: 1
        minimum: 0.1
      produces:
      - "audio/wav"
      - "audio/mpeg"
      - "audio/opus"
      - "text/html"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "file"
        400:
          description: "Bad request"
          schema:
            type: "string"
        423:
          description: "API key is locked, please contact Yandex support team"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            type: "string"