substitutions:
  node_name: !secret device_006_node_name
  ip_address: !secret device_006_ip_address

packages:
  common: !include ./_includes/common.yaml
  wifi: !include ./_includes/wifi/home.yaml
  binary_sensor: !include ./_includes/binary_sensor.yaml
  sensor: !include ./_includes/sensor.yaml
  switch: !include ./_includes/switch.yaml
  text_sensor: !include ./_includes/text_sensor.yaml
  time: !include ./_includes/time.yaml

esphome:
  comment: !secret device_006_comment

esp8266:
  board: d1_mini

i2c:
  sda: SDA
  scl: SCL
  scan: True
  id: bus_a

one_wire:
  - platform: gpio
    pin: D4

sensor:
  - platform: bme280_i2c
    update_interval: 10s
    temperature:
      id: temperature
      name: "Temperature"
      oversampling: 16x
    pressure:
      id: pressure
      name: "Pressure"
      unit_of_measurement: "mmHg"
      filters:
        - multiply: 0.75006375541921
    humidity:
      id: humidity
      name: "Humidity"
    address: 0x76
  - platform: dallas_temp
    address: 0xE1000003AF4DC628
    id: temperature2
    name: "Temperature 2"

binary_sensor:
  - platform: gpio
    pin: D3
    id: pir_motion_detector
    name: "PIR Motion detector"
    device_class: "motion"
