substitutions:
  node_name: !secret device_6801_node_name
  ip_address: !secret device_6801_ip_address

packages:
  - !include ./_includes/common.yaml
  - !include ./_includes/wifi.yaml
  - !include ./_includes/wifi/villa_blackrock.yaml
  - !include ./_includes/binary_sensor.yaml
  - !include ./_includes/sensor.yaml
  - !include ./_includes/switch.yaml
  - !include ./_includes/text_sensor.yaml
  - !include ./_includes/time.yaml

esphome:
  comment: !secret device_6801_comment

esp8266:
  board: esp8285

switch:
  - platform: gpio
    name: Light parking zone
    icon: mdi:lightbulb_outline
    pin: GPIO12
    id: relay_1
    restore_mode: RESTORE_DEFAULT_OFF

binary_sensor:
  - platform: gpio
    pin: GPIO00
    id: reset
    internal: true
    filters:
      - invert:
      - delayed_off: 10ms
    on_press:
      - switch.toggle:
          id: relay_1

  - platform: gpio
    name: "s2 external switch input"
    pin: GPIO04
    id: switch_1
    filters:
      - invert:
    on_press:
      then:
        - switch.turn_on: # switch.toggle
            id: relay_1
    on_release:
      then:
        - switch.turn_off: # switch.toggle
            id: relay_1

status_led:
  pin:
    number: GPIO13
    inverted: true
    allow_other_uses: true

output:
  - platform: esp8266_pwm
    id: blue_led
    pin:
      number: GPIO13
      allow_other_uses: true
    inverted: true

light:
  - platform: monochromatic
    name: "Blue LED"
    output: blue_led
    internal: true