substitutions:
  node_name: !secret device_6814_node_name
  ip_address: !secret device_6814_ip_address

  temperature_target_step: 0.5
  temperature_target_value_min: 17
  temperature_target_value_max: 27
  temperature_target_value_initial: 22

packages:
  - !include ./_includes/common.yaml
  - !include ./_includes/ethernet.yaml
  - !include ./_includes/binary_sensor.yaml
  - !include ./_includes/sensor.yaml
  - !include ./_includes/switch.yaml
  - !include ./_includes/text_sensor.yaml
  - !include ./_includes/time.yaml
  - !include ./_includes/debug.yaml

  - !include { file: .device_6814_door.yaml, vars: { id : "sauna", name: "Sauna", gpio: '2' } }
  - !include { file: .device_6814_door.yaml, vars: { id : "garage", name: "Garage", gpio: '3' } }
  - !include { file: .device_6814_door.yaml, vars: { id : "boiler", name: "Boilerroom", gpio: '4' } }
  - !include { file: .device_6814_door.yaml, vars: { id : "hallway", name: "Hallway", gpio: '5' } }
  - !include { file: .device_6814_door.yaml, vars: { id : "livingroom_right", name: "Livingroom right", gpio: '6' } }
  - !include { file: .device_6814_door.yaml, vars: { id : "livingroom_left", name: "Livingroom left", gpio: '7' } }

  - !include { file: .device_6814_floor.yaml, vars: { id : "gameroom", name: "Gameroom", relay: 0, topic_postfix: "gameroom" } }
  - !include { file: .device_6814_floor.yaml, vars: { id : "hallway", name: "Hallway", relay: 2, topic_postfix: "hallway" } }

esphome:
  comment: !secret device_6814_comment

web_server:
    sorting_groups:
    - id: doors
      name: "Doors"
      sorting_weight: -99

    - id: kitchen
      name: "Kitchen"
      sorting_weight: -98
    - id: gameroom
      name: "Gameroom"
      sorting_weight: -97
    - id: hallway
      name: "Hallway"
      sorting_weight: -96
    - id: chillout
      name: "Chillout"
      sorting_weight: -95
    - id: bathroom_floor_1
      name: "Bathroom floor 1"
      sorting_weight: -94
    - id: bathroom_floor_2
      name: "Bathroom floor 2"
      sorting_weight: -93
    - id: bathroom_master
      name: "Bathroom master room"
      sorting_weight: -92

    - id: inputs_di
      name: "Digital inputs"
      sorting_weight: -1
    - id: outputs_relayes
      name: "Relayes"
      sorting_weight: -2

esp32:
  board: esp32dev
  framework:
    type: esp-idf

ethernet:
  type: LAN8720
  mdc_pin: GPIO23
  mdio_pin: GPIO18
  clk:
    pin: GPIO17
    mode: CLK_OUT
  phy_addr: 0

i2c:
  sda: GPIO4
  scl:
    number: GPIO05
    ignore_strapping_warning: true

#######################################################################################
#
# RF 433mhz receiver configuration
#
  
# remote_receiver:
#  pin:
#    number: 2
#    inverted: true
#  dump: rc_switch
#  # Settings to optimize recognition of RF devices
#  tolerance: 50%
#  filter: 250us
#  idle: 4ms
#  buffer_size: 2kb
  
  # RF 433mhz transmitter configuration
# remote_transmitter:
#  pin: 15
#  carrier_duty_percent: 100%

pcf8574:
  - id: inputs
    address: 0x22
  - id: outputs
    address: 0x24

binary_sensor:
#  - platform: gpio
#    id: input_0
#    pin:
#      pcf8574: inputs
#      number: 0
#      mode: INPUT
#      inverted: true
#    web_server:
#      sorting_group_id: inputs_di
#      sorting_weight: 10
#
#  - platform: gpio
#    id: input_1
#    pin:
#      pcf8574: inputs
#      number: 1
#      mode: INPUT
#      inverted: true
#    web_server:
#      sorting_group_id: inputs_di
#      sorting_weight: 11