debug:

substitutions:
  node_name: !secret device_802_node_name
  ip_address: !secret device_802_ip_address
  leds_by_step: "30"
  num_leds: "900"
  led_id: "leds"

packages:
  - !include ./_includes/common.yaml
  - !include ./_includes/wifi.yaml
  - !include ./_includes/wifi/villa_blackrock.yaml
  - !include ./_includes/binary_sensor.yaml
  - !include ./_includes/sensor.yaml
  - !include ./_includes/switch.yaml
  - !include ./_includes/text_sensor.yaml
  - !include ./_includes/time.yaml

esp8266:
  board: d1_mini

logger:
  level: DEBUG
  baud_rate: 115200

mqtt:
  log_topic: null

light:
  - platform: neopixelbus
    num_leds: ${num_leds}
    variant: 800kbps
    pin: GPIO15
    name: "NeoPixel Light"
    id: ${led_id}
    effects:
      - addressable_rainbow:
      - addressable_color_wipe:
      - addressable_scan:
      - addressable_twinkle:
      - addressable_random_twinkle:
      - addressable_fireworks:
      - addressable_flicker:
      - addressable_lambda:
          name: "By step"
          update_interval: 1s
          lambda: |-
            static int led_index_begin = 0;
            static int led_index_end = ${leds_by_step} - 1;
            static int direction = 1;

            if (initial_run) {
              it.all() = Color::BLACK;
              id(${led_id}).turn_on().set_brightness(1.0).perform();

              led_index_begin = 0;
              led_index_end = ${leds_by_step} - 1;
            }

            it.range(led_index_begin, led_index_end) = direction > 0 ? Color::WHITE : Color::BLACK;

            led_index_begin += (${leds_by_step} - 1) * direction;
            led_index_end += (${leds_by_step} - 1) * direction;

            ESP_LOGW("effect", "Next step %i %i %i", led_index_begin, led_index_end, it.size());

            if ((led_index_end > it.size() && (led_index_end - it.size() > ${leds_by_step})) || led_index_begin < 0) {
              direction *= -1;

              ESP_LOGW("effect", "Change direction %i", direction);

              if (direction > 0) {
                ESP_LOGW("effect", "Complete");

                auto call = id(${led_id}).turn_off();
                call.perform();
              }
            }
