substitutions:
  node_name: !secret device_6804_node_name
  ip_address: !secret device_6804_ip_address

packages:
  common: !include ./_includes/common.yaml
  wifi: !include ./_includes/wifi/villa_blackrock.yaml
  binary_sensor: !include ./_includes/binary_sensor.yaml
  sensor: !include ./_includes/sensor.yaml
  switch: !include ./_includes/switch.yaml
  text_sensor: !include ./_includes/text_sensor.yaml
  time: !include ./_includes/time.yaml

esphome:
  comment: !secret device_6804_comment
  on_boot:
    priority: -100.0
    then:
 #     - delay: 1s
 #     - logger.log: "Device booting up..."
      - lambda: |-
          if (id(switch_1).state) {
            id(relay_1).turn_off();
          } else {
            id(relay_1).turn_on();
          }

esp8266:
  board: esp8285

switch:
  - platform: gpio
    name: "Relay switch"
    icon: "mdi:lightbulb_outline"
    pin: GPIO12
    id: relay_1

binary_sensor:
  - platform: gpio
    pin: 
      number: GPIO00
      inverted: true
    id: reset
    internal: true
    filters:
      - delayed_off: 10ms
    on_press:
      - switch.toggle:
          id: relay_1

  - platform: gpio
    name: "s2 external switch input"
    pin:
      number: GPIO04
      inverted: true
    id: switch_1
    on_press:
      then:
        - switch.turn_off: # switch.toggle
            id: relay_1
    on_release:
      then:
        - switch.turn_on: # switch.toggle
            id: relay_1

status_led:
  pin:
    number: GPIO13
    inverted: true
    allow_other_uses: true

output:
  - platform: esp8266_pwm
    id: blue_led
    pin:
      number: GPIO13
      allow_other_uses: true
    inverted: true

light:
  - platform: monochromatic
    name: "Blue LED"
    output: blue_led
    internal: true
