debug:

substitutions:
  node_name: !secret device_017_node_name
  ip_address: !secret device_017_ip_address

packages:
  - !include ./_includes/common.yaml
  - !include ./_includes/wifi.yaml
  - !include ./_includes/wifi/villa_boiler.yaml
  - !include ./_includes/binary_sensor.yaml
  - !include ./_includes/sensor.yaml
  - !include ./_includes/switch.yaml
  - !include ./_includes/text_sensor.yaml
  - !include ./_includes/time.yaml

esphome:
  comment: !secret device_017_comment

esp8266:
  board: d1_mini

logger:
  level: DEBUG
  baud_rate: 115200

mqtt:
  log_topic: null

switch:
  - platform: gpio
    id: "heating_1"
    name: "PIN D1 / Bathroom on floor 2"
    icon: "mdi:fire"
    pin:
      number: D1
      mode: OUTPUT_OPEN_DRAIN
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: gpio
    id: "heating_2"
    name: "PIN D2 / Children's room and man room on floor 2"
    icon: "mdi:fire"
    pin:
      number: D2
      mode: OUTPUT_OPEN_DRAIN
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: gpio
    id: "heating_3"
    name: "PIN D3 / Living room on floor 1"
    icon: "mdi:fire"
    pin:
      number: D3
      mode: OUTPUT_OPEN_DRAIN
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: gpio
    id: "heating_5"
    name: "PIN D5 / Gaming room & sauna on floor 1"
    icon: "mdi:fire"
    pin:
      number: D5
      mode: OUTPUT_OPEN_DRAIN
    restore_mode: RESTORE_DEFAULT_OFF
