substitutions:
  node_name: !secret device_005_node_name
  ip_address: !secret device_005_ip_address

packages:
  common: !include ./_includes/common.yaml
  wifi: !include ./_includes/wifi/home.yaml
  binary_sensor: !include ./_includes/binary_sensor.yaml
  sensor: !include ./_includes/sensor.yaml
  switch: !include ./_includes/switch.yaml
  text_sensor: !include ./_includes/text_sensor.yaml
  time: !include ./_includes/time.yaml

esphome:
  comment: !secret device_005_comment

esp8266:
  board: nodemcuv2

i2c:
  sda: D2
  scl: D1
  scan: True
  id: bus_a

dallas:
  - pin: D4
    update_interval: 10s

sensor:
  - platform: adc
    update_interval: 60s
    pin: A0
    id: "voltage"
    name: "ADC Voltage"
  - platform: bme280
    update_interval: 60s
    temperature:
      id: temperature
      name: "Temperature"
      oversampling: 16x
      filters:
        - offset: -5.9
    pressure:
      id: pressure
      name: "Pressure"
      unit_of_measurement: "mmHg"
      filters:
        - multiply: 0.75006375541921
    humidity:
      id: humidity
      name: "Humidity"
    address: 0x76
  - platform: dallas
    address: 0x80000003AF484528
    name: "Temperature DS"
