# Socket SWP86-01OG-Black
# https://github.com/libretiny-eu/libretiny/issues/279
#
# P6  -- button
# P7  -- relay switch
# P23 -- pin ADC, green led
#
# BL0937
# P8  -- SEL
# P24 -- CF
# P26 -- CF1

substitutions:
  node_name: !secret device_020_node_name
  ip_address: !secret device_020_ip_address

packages:
  - !include ./_includes/common.yaml
  - !include ./_includes/wifi.yaml
  - !include ./_includes/wifi/home.yaml
  - !include ./_includes/binary_sensor.yaml
  - !include ./_includes/sensor.yaml
  - !include ./_includes/switch.yaml
  - !include ./_includes/text_sensor.yaml
  - !include ./_includes/time.yaml

esphome:
  comment: !secret device_020_comment

bk72xx:
  board: cb2s

text_sensor:
  - platform: libretiny
    version:
      name: LibreTiny Version

light:
  - platform: status_led
    pin: P23
    id: "led_green"
    name: "LED green"
    restore_mode: RESTORE_DEFAULT_ON

switch:
  - platform: gpio
    pin: P7
    id: "relay"
    name: "Power relay"
    on_turn_off:
      - light.turn_on: "led_green"
    on_turn_on:
      - light.turn_off: "led_green"
    restore_mode: RESTORE_DEFAULT_ON

binary_sensor:
  - platform: gpio
    pin:
      number: P6
      mode: INPUT_PULLDOWN
    id: "button"
    name: "Hardware button"
    internal: true
    on_press:
      - switch.toggle: "relay"

sensor:
  - platform: hlw8012
    model: BL0937
    sel_pin:
      number: P8
      inverted: true
    cf_pin:
      number: P24
      inverted: true
    cf1_pin:
      number: P26
      inverted: true
    current:
      id: "amperage"
      name: "Amperage"
      unit_of_measurement: A
      accuracy_decimals: 3
    voltage:
      id: "voltage"
      name: "Voltage"
      unit_of_measurement: V
    power:
      id: "power"
      name: "Power in watts"
      unit_of_measurement: W
      accuracy_decimals: 4
    change_mode_every: 2
    update_interval: 5s
#  - platform: total_daily_energy
#    name: "Total Daily Energy"
#    icon: "mdi:current-ac"
#    power_id: "power"
