{{ define "content" }}

<div class="row" id="devices">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Devices" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped dt-responsive nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ i18n "Type" . }}</th>
                        <th class="md-col-1">{{ i18n "Status" . }}</th>
                        <th class="md-col-1">{{ i18n "Tasks count" . }}</th>
                        <th class="md-col-1">{{ i18n "MQTT topics" . }}</th>
                        <th class="md-col-1">{{ i18n "MQTT subscribers" . }}</th>
                        <th>{{ i18n "Serial number" . }}</th>
                        <th class="md-col-2">{{ i18n "ID" . }}</th>
                        <th>{{ i18n "Description" . }}</th>
                        <th>{{ i18n "Tasks" . }}</th>
                        <th>{{ i18n "MQTT topics" . }}</th>
                        <th>{{ i18n "MQTT subscribers" . }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listeners">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-deaf"></i> {{ i18n "Listeners" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped dt-responsive nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ i18n "Name" . }}</th>
                        <th>{{ i18n "ID" . }}</th>
                        <th>{{ i18n "Fires" . }}</th>
                        <th>{{ i18n "First fired" . }}</th>
                        <th>{{ i18n "Last fired" . }}</th>
                        <th>{{ i18n "Events" . }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/js/devices.js") false) }}
{{ end }}