{{ define "content" }}

<div class="row" id="devices">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Devices" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ i18n "Type" . }}</th>
                    <th class="md-col-2">{{ i18n "ID" . }}</th>
                    <th>{{ i18n "Description" . }}</th>
                    <th class="md-col-1">{{ i18n "Tasks" . }}</th>
                    <th class="md-col-1">{{ i18n "Status" . }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row" id="listeners">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-deaf"></i> {{ i18n "Listeners" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ i18n "ID" . }}</th>
                        <th>{{ i18n "Name" . }}</th>
                        <th>{{ i18n "Events" . }}</th>
                        <th>{{ i18n "Fires" . }}</th>
                        <th>{{ i18n "First fired" . }}</th>
                        <th>{{ i18n "Last fired" . }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" false) }}
    {{ staticHTML (staticURL "/boggart/assets/js/devices.js" false) }}
{{ end }}