{{ define "content" }}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Devices" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped datatable">
                <thead>
                <tr>
                    <th>{{ i18n "Type" . }}</th>
                    <th class="md-col-2">{{ i18n "ID" . }}</th>
                    <th>{{ i18n "Description" . }}</th>
                    <th class="md-col-1">{{ i18n "Tasks" . }}</th>
                    <th class="md-col-1">{{ i18n "Status" . }}</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $device := .devices }}
                <tr>
                    <td>
                        {{ range $t, $type := $device.Types }}
                        <span class="label label-success">{{ i18n $type $ }}</span>
                        {{ end }}
                    </td>
                    <td>{{ $device.Id }}</td>
                    <td>{{ $device.Description }}</td>
                    <td>{{ $device.TasksCount }}</td>
                    <td>{{ if $device.Enabled }}{{ i18n "Enabled" $ }}{{ else }}{{ i18n "Disabled" $ }}{{ end }}</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-deaf"></i> {{ i18n "Listeners" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped datatable">
                    <thead>
                    <tr>
                        <th>{{ i18n "ID" . }}</th>
                        <th>{{ i18n "Name" . }}</th>
                        <th>{{ i18n "Events" . }}</th>
                        <th>{{ i18n "Fires" . }}</th>
                        <th>{{ i18n "First fired" . }}</th>
                        <th>{{ i18n "Last fired" . }}</th>
                    </tr>
                    </thead>
                    {{ range $l, $listener := .listeners }}
                    <tr>
                        <td>{{ $listener.Id }}</td>
                        <td>{{ $listener.Name }}</td>
                        <td>
                            {{ range $eventId, $eventName := $listener.Events }}
                            <span class="label label-info">{{ $eventName }}</span>
                            {{ end }}
                        </td>
                        <td>{{ $listener.Fires }}</td>
                        <td>
                            {{ if $listener.FirstFiredAt }}
                            <script type="application/javascript">document.write(dateToString('{{ $listener.FirstFiredAt.Format "2006-01-02T15:04:05Z07:00" }}'))</script>
                            {{ end }}
                        </td>
                        <td>
                            {{ if $listener.LastFiredAt }}
                            <script type="application/javascript">document.write(dateToString('{{ $listener.LastFiredAt.Format "2006-01-02T15:04:05Z07:00" }}'))</script>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" false) }}
{{ end }}