{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ i18n "Bind %s MQTT cache" $ nil nil nil .bind.ID }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped datatable dt-responsive nowrap" id="items" style="width:100%">
                        <thead>
                        <tr>
                            <th>{{ i18n "Topic" . }}</th>
                            <th>{{ i18n "Topic in cache" . }}</th>
                            <th>{{ i18n "Datetime" . }}</th>
                            <th>{{ i18n "Payload" . }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $i, $item := .items }}
                        <tr>
                            <td>{{ $item.Topic }}</td>
                            <td>{{ $item.CacheTopic }}</td>
                            <td><script type="application/javascript">document.write(dateToString('{{ $item.Datetime.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                            <td><pre><code>{{ printf "%s" $item.Payload|raw }}</code></pre></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}

    <script type="application/javascript">
        $(document).ready(function () {
            $('#items').DataTable().order([2, 'asc']).draw();
        });
    </script>
{{ end }}
