{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ i18n "Bind %s tasks" $ nil nil nil .bind.ID }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover table-striped datatable dt-responsive nowrap" id="tasks" style="width:100%">
                        <thead>
                        <tr>
                            <th>{{ i18n "ID" . }}</th>
                            <th>{{ i18n "Name" . }}</th>
                            <th>{{ i18n "Actions" . }}</th>
                            <th>{{ i18n "Priority" . }}</th>
                            <th>{{ i18n "Repeats" . }}</th>
                            <th>{{ i18n "Repeat interval" . }}</th>
                            <th>{{ i18n "Timeout" . }}</th>
                            <th>{{ i18n "Created" . }}</th>
                            <th>{{ i18n "Started" . }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $task := .tasks }}
                            <tr>
                                <td>{{ $task.Id }}</td>
                                <td>{{ $task.Name }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="/boggart/bind/{{ $.bind.ID }}/tasks/?run={{ $task.Id }}" target="_blank" class="btn btn-success btn-icon btn-xs">
                                            <i class="fas fa-running" title="{{ i18n "Execute" $ }}"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>{{ $task.Priority }}</td>
                                <td>{{ if ne $task.Repeats -1 }}{{ $task.Repeats }}{{ end }}</td>
                                <td>{{ $task.RepeatInterval }}</td>
                                <td>{{ $task.Timeout }}</td>
                                <td>{{ $task.CreatedAt.Format "2006-01-02T15:04:05Z07:00" }}</td>
                                <td>{{ if $task.StartedAt }}{{ $task.StartedAt.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}

    <script type="application/javascript">
        $(document).ready(function () {
            var table = $('#tasks');

            table.one('init.dt', function () {
                table.DataTable().rows().every(function (i) {
                    var data = this.data();
                    data[7] = data[7].length > 0 ? dateToString(data[7]) : '';
                    data[8] = data[8].length > 0 ? dateToString(data[8]) : '';

                    this.row(i).data(data);
                    table.DataTable().draw();
                });
            });
        });
    </script>
{{ end }}
