{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ i18n "Workers info" . }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover table-striped datatable dt-responsive nowrap" id="workers" style="width:100%">
                        <thead>
                        <tr>
                            <th>{{ i18n "Name" . }}</th>
                            <th>{{ i18n "Status" . }}</th>
                            <th>{{ i18n "Actions" . }}</th>
                            <th>{{ i18n "Attempts" . }}</th>
                            <th>{{ i18n "First run" . }}</th>
                            <th>{{ i18n "Last run" . }}</th>
                            <th>{{ i18n "Next run" . }}</th>
                            <th>{{ i18n "ID" . }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $info := .workers }}
                            <tr>
                                <td>{{ $info.Task.Name }}</td>
                                <td>{{ $info.Meta.Status.String }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="/boggart/workers/?id={{ $info.Meta.ID }}&action=run" target="_blank" class="btn btn-success btn-icon btn-xs">
                                            <i class="fas fa-running" title="{{ i18n "Execute" $ }}"></i>
                                        </a>
                                        <button type="button" class="btn btn-info btn-icon btn-xs" data-toggle="modal" data-target="#modal" data-modal-title="Confirm recalculate worker #{{ $info.Meta.ID }}" data-modal-callback="workerAction('recalculate', '{{ $info.Meta.ID }}');">
                                            <i class="fas fa-clock" title="{{ i18n "Recalculate" $ }}"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon btn-xs" data-toggle="modal" data-target="#modal" data-modal-title="Confirm unregister worker #{{ $info.Meta.ID }}" data-modal-callback="workerAction('unregister', '{{ $info.Meta.ID }}');">
                                            <i class="fas fa-trash" title="{{ i18n "Unregister" $ }}"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" style="min-width: 96px">
                                        <button class="btn btn-xs btn-success">{{ $info.Meta.Success }}</button>
                                        <button class="btn btn-xs btn-danger">{{ $info.Meta.Fails }}</button>
                                    </div>
                                </td>
                                <td>
                                {{ if $info.Meta.FirstRunAt }}
                                    {{ $info.Meta.FirstRunAt.Format "2006-01-02T15:04:05-07:00" }}
                                {{ end }}
                                </td>
                                <td>
                                {{ if $info.Meta.LastRunAt }}
                                    {{ $info.Meta.LastRunAt.Format "2006-01-02T15:04:05-07:00" }}
                                {{ end }}
                                </td>
                                <td>
                                {{ if $info.Meta.NextRunAt }}
                                    {{ $info.Meta.NextRunAt.Format "2006-01-02T15:04:05-07:00" }}
                                {{ end }}
                                </td>
                                <td>{{ $info.Meta.ID }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}

    <script type="application/javascript">
        $(document).ready(function () {
            var table = $('#workers');

            table.one('init.dt', function () {
                table.DataTable().rows().every(function (i) {
                    var data = this.data();

                    data[4] = data[4].length > 0 ? dateToString(data[4]) : '{{ i18n "None" . }}';
                    data[5] = data[5].length > 0 ? dateToString(data[5]) : '{{ i18n "None" . }}';
                    data[6] = data[6].length > 0 ? dateToString(data[6]) : '{{ i18n "None" . }}';

                    this.row(i).data(data);
                    table.DataTable().draw();
                });
            });

            window.workerAction = function (action, id) {
                $.ajax({
                    type: 'POST',
                    url: '/boggart/workers?action=' + action + '&id=' + id,
                    success: function (r) {
                        if (r.result === 'failed') {
                            new PNotify({
                                title: 'Error',
                                text: r.message,
                                type: 'error',
                                hide: false,
                                styling: 'bootstrap3'
                            });
                        } else if (r.message !== 'undefined' && r.message.length > 0) {
                            new PNotify({
                                title: 'Success',
                                text: r.message,
                                type: 'success',
                                hide: false,
                                styling: 'bootstrap3'
                            });
                        }

                        // TODO: reload
                        // table.ajax.reload();
                    }
                });
            };
        });
    </script>
{{ end }}
