{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ i18n "Boggart" . }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" role="form" method="post">
                    <div class="form-group">
                        <label for="volume" class="control-label col-md-3 col-sm-3 col-xs-12">
                            {{ i18n "Shutdown application" . }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="">
                                <label>
                                    <input type="submit" name="shutdown" id="shutdown" class="btn btn-success" value="{{ i18n "Shutdown" . }}" />
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}