{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ i18n "Send message" . }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ if .error }}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ .error }}
                </div>
                {{ end }}

                {{ if .message }}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ .message }}
                </div>
                {{ end }}

                <form class="form-horizontal form-label-left" role="form" method="post" id="send-mail" action="/{{ .ComponentName }}/message/" novalidate>
                    <div class="item form-group">
                        <label for="player" class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ i18n "Player" . }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control select2" name="player" id="player" required="required">
                                {{ range $i, $player := .players }}
                                    <option value="{{ $player }}"{{ if eq $player $.player }} selected="selected"{{ end }}>{{ $player }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="volume" class="control-label col-md-3 col-sm-3 col-xs-12">
                            {{ i18n "Volume" . }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="range" min="1" max="100" step="1" class="form-control" id="volume" name="volume" value="{{ .volume }}" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="speed" class="control-label col-md-3 col-sm-3 col-xs-12">
                            {{ i18n "Speed" . }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="range" min="0" max="3" step="0.1" class="form-control" id="speed" name="speed" value="{{ .speed }}" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="speaker" class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ i18n "Speaker" . }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control select2" name="speaker" id="speaker" required="required">
                                <option value="jane"{{ if eq .speaker "jane" }} selected="selected"{{ end }}>{{ i18n "Jane (female)" . }}</option>
                                <option value="oksana"{{ if eq .speaker "oksana" }} selected="selected"{{ end }}>{{ i18n "Oksana (female)" . }}</option>
                                <option value="alyss"{{ if eq .speaker "alyss" }} selected="selected"{{ end }}>{{ i18n "Alyss (female)" . }}</option>
                                <option value="omazh"{{ if eq .speaker "omazh" }} selected="selected"{{ end }}>{{ i18n "Omazh (female)" . }}</option>
                                <option value="zahar"{{ if eq .speaker "zahar" }} selected="selected"{{ end }}>{{ i18n "Zahar (male)" . }}</option>
                                <option value="ermil"{{ if eq .speaker "ermil" }} selected="selected"{{ end }}>{{ i18n "Ermil (male)" . }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="text" class="control-label col-md-3 col-sm-3 col-xs-12">
                            {{ i18n "Text" . }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control resizable_textarea" rows="4" name="text" id="text" required="required">{{ .text }}</textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn btn-success">{{ i18n "Send" . }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/validator/js/validator.min.js" false) }}
{{ end }}