{{ define "body" }}
    <img src="data:{{ .mime }};base64,{{ .base64 }}" id="image-data" onclick="download()" style="width:100%" />
{{ end }}

{{ define "js" }}
<script type="application/javascript">
    function download() {
        var a = document.createElement('a');

        a.href = document.getElementById('image-data').src;
        a.download = '{{ .filename }}';
        a.click();
    }

    {{ if gt .refresh 0 }}
        setTimeout(function(){
            window.location.reload(true);
        }, {{ .refresh }});
    {{ end }}
</script>
{{ end }}