{{ define "page" }}
    <div class="form-group pull-right">
        <div class="input-group">
            <label class="btn-group">
                <a href="?action=user" class="btn btn-icon btn-success btn-sm">
                    <i class="fas fa-plus" title="{{ i18n "Create user" . }}"></i>
                </a>
            </label>
        </div>
    </div>

    <table class="table table-striped datatable dt-responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <th>{{ i18n "User" . }}</th>
            <th>{{ i18n "Group" . }}</th>
            <th>{{ i18n "Comment" . }}</th>
            <th>{{ i18n "Reserved" . }}</th>
            <th>{{ i18n "Actions" . }}</th>
        </tr>
        </thead>
        <tbody>
        {{ range $i, $user := .users }}
        <tr{{ if eq $user.Name $.current }} class="success"{{ end }}>
            <td>{{ $user.Name }}</td>
            <td>{{ $user.Group }}</td>
            <td>{{ $user.Memo }}</td>
            <td>{{ if $user.Reserved }}{{ i18n "Yes" $ }}{{ else }}{{ i18n "No" $ }}{{ end }}</td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a href="{{ $.Request.URL.Path }}?action=user&username={{ $user.Name }}" class="btn btn-info btn-icon btn-xs">
                        <i class="glyphicon glyphicon-edit" title="{{ i18n "Edit" $ }}"></i>
                    </a>
                </div>
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}