{{ define "content" }}
<div class="page-title">
    <div class="form-group pull-right">
        <div class="input-group">
            <label class="btn-group">
                <a href="?action=configs-export" class="btn btn-icon btn-success btn-sm">
                    <i class="fas fa-cog" title="{{ i18n "Export configuration" . }}"></i>
                </a>
                <a href="?action=logs-export" class="btn btn-icon btn-success btn-sm">
                    <i class="fas fa-headset" title="{{ i18n "Export logs" . }}"></i>
                </a>
            </label>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div role="tabpanel">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation"{{ if eq .action "" }} class="active"{{ end }}><a href="{{ if eq .action "" }}javascript:void(0);{{ else }}{{ .Request.URL.Path }}{{ end }}">{{ i18n "System" . }}</a></li>
                        <li role="presentation"{{ if eq .action "logs" }} class="active"{{ end }}><a href="{{ if eq .action "logs" }}javascript:void(0);{{ else }}{{ .Request.URL.Path }}?action=logs{{ end }}">{{ i18n "Logs" . }}</a></li>
                        <li role="presentation"{{ if eq .action "files" }} class="active"{{ end }}><a href="{{ if eq .action "files" }}javascript:void(0);{{ else }}{{ .Request.URL.Path }}?action=files{{ end }}">{{ i18n "Files" . }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in">
                        {{ if eq .action "logs" }}
                        <table class="table table-striped datatable dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>{{ i18n "#" . }}</th>
                                    <th>{{ i18n "Time" . }}</th>
                                    <th>{{ i18n "Message" . }}</th>
                                    <th>{{ i18n "Type" . }}</th>
                                    <th>{{ i18n "User" . }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $i, $log := .logs }}
                                <tr>
                                    <td>{{ $log.Position }}</td>
                                    <td><script type="application/javascript">document.write(dateToString('{{ $log.Time.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                                    <td>{{ $log.Data }}</td>
                                    <td>{{ $log.Type }}</td>
                                    <td>{{ $log.User }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                        {{ else if eq .action "files" }}
                        <div class="well" style="overflow: auto">
                            <form class="form-horizontal" role="form" method="get" action="{{ .Request.URL.Path }}" id="files-form" novalidate>
                                <input type="hidden" value="files" name="action" />
                                <input type="hidden" value="" name="from" />
                                <input type="hidden" value="" name="to" />
                                <div class="col-md-4">
                                    {{ i18n "Date range" . }}
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="input-prepend input-group">
                                                    <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" id="files-date" class="form-control" value="{{ .date_from.Format "2006.01.02 15:04" }} - {{ .date_to.Format "2006.01.02 15:04" }}" />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-2">
                                    {{ i18n "Channel" . }}
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="input-prepend input-group" style="width: 100%">
                                                    <select id="channel" name="channel" class="form-control select2" required="required">
                                                    {{ range $id, $title := .channels }}
                                                        <option value="{{ $id }}"{{ if eq $.channel $id }} selected="selected"{{ end }}>{{ $title }}</option>
                                                    {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-2">
                                    {{ i18n "Event type" . }}
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="input-prepend input-group" style="width: 100%">
                                                    <select id="event-type" name="event-type" class="form-control select2" required="required">
                                                        <option value="*"{{ if eq .event_type "*" }} selected="selected"{{ end }}>{{ i18n "All" . }}</option>
                                                        <option value="A"{{ if eq .event_type "A" }} selected="selected"{{ end }}>{{ i18n "Alarm" . }}</option>
                                                        <option value="M"{{ if eq .event_type "M" }} selected="selected"{{ end }}>{{ i18n "Motion detect" . }}</option>
                                                        <option value="R"{{ if eq .event_type "R" }} selected="selected"{{ end }}>{{ i18n "General" . }}</option>
                                                        <option value="H"{{ if eq .event_type "H" }} selected="selected"{{ end }}>{{ i18n "Manual" . }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="input-prepend input-group">
                                                    <button type="submit" class="btn btn-success">{{ i18n "Show" . }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table class="table table-striped datatable dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>{{ i18n "Name" . }}</th>
                                    <th>{{ i18n "Begin time" . }}</th>
                                    <th>{{ i18n "End time" . }}</th>
                                    <th>{{ i18n "Size" . }}</th>
                                    <th>{{ i18n "Actions" . }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $i, $file := .files }}
                                <tr>
                                    <td>{{ $file.FileName }}</td>
                                    <td><script type="application/javascript">document.write(dateToString('{{ $file.BeginTime.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                                    <td><script type="application/javascript">document.write(dateToString('{{ $file.EndTime.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                                    <td>{{ human_bytes $file.FileLength }}</td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-xs">
                                            <a href="{{ $.Request.URL.Path }}?action=download&name={{ $file.FileName }}" class="btn btn-success btn-icon"><i class="fas fa-file-download" title="{{ i18n "Download" $ }}"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                        {{ else }}
                        <form role="form" action="?" method="post" id="settings" data-toggle="validator">
                            <table class="table dt-responsive nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th class="md-col-1">{{ i18n "Option" . }}</th>
                                    <th>{{ i18n "Value" . }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{ if .system_info }}
                                    <tr>
                                        <td>{{ i18n "Serial number" . }}</td>
                                        <td>{{ .system_info.SerialNo }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Uptime" . }}</td>
                                        <td>{{ .system_info.DeviceRunTime }} {{ i18n "minutes" . }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Software version" . }}</td>
                                        <td>{{ .system_info.SoftWareVersion }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Hardware" . }}</td>
                                        <td>{{ .system_info.HardWare }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Hardware version" . }}</td>
                                        <td>{{ .system_info.HardWareVersion }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Encrypt version" . }}</td>
                                        <td>{{ .system_info.EncryptVersion }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Build time" . }}</td>
                                        <td><script type="application/javascript">document.write(dateToString('{{ .system_info.BuildTime.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Update time" . }}</td>
                                        <td><script type="application/javascript">document.write(dateToString('{{ .system_info.UpdataTime.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Alarm in channel" . }}</td>
                                        <td>{{ .system_info.AlarmInChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Alarm out channel" . }}</td>
                                        <td>{{ .system_info.AlarmOutChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Talk in channel" . }}</td>
                                        <td>{{ .system_info.TalkInChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Talk out channel" . }}</td>
                                        <td>{{ .system_info.TalkOutChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Video in channel" . }}</td>
                                        <td>{{ .system_info.VideoInChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Video out channel" . }}</td>
                                        <td>{{ .system_info.VideoOutChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Audio in channel" . }}</td>
                                        <td>{{ .system_info.AudioInChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Dig channel" . }}</td>
                                        <td>{{ .system_info.DigChannel }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ i18n "Extra channel" . }}</td>
                                        <td>{{ .system_info.ExtraChannel }}</td>
                                    </tr>
                                    {{ end }}

                                    {{ if .time_current }}
                                    <tr>
                                        <td rowspan="2">{{ i18n "Time" . }}</td>
                                        <td>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" name="time-current" value="{{ .time_current.Format "2006.01.02 15:04:06" }}" id="time-current" readonly />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-xs-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="time" value="{{ .time_current.Format "2006.01.02 15:04:06" }}" id="time" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" id="time-now">{{ i18n "Now" . }}</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ else }}
                                    <tr>
                                        <td>{{ i18n "Time" . }}</td>
                                        <td>
                                            <div class="col-xs-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="time" value="{{ .time_current.Format "2006.01.02 15:04:06" }}" id="time" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" id="time-now">{{ i18n "Now" . }}</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </form>

                        {{ if .storage_info }}
                        <div class="x_title">
                            <h2>{{ i18n "Storage" . }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <table class="table dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="md-col-1">{{ i18n "Part number" . }}</th>
                                    <th>{{ i18n "Remain space" . }}</th>
                                    <th>{{ i18n "Total space" . }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $s, $storage := .storage_info }}
                                    {{ range $p, $partition := $storage.Partition }}
                                    <tr>
                                        <td>{{ $storage.PartNumber }}</td>
                                        <td>{{ human_bytes $partition.RemainSpace.Uint32 }}</td>
                                        <td>{{ human_bytes $partition.TotalSpace.Uint32 }}</td>
                                    </tr>
                                    {{ end }}
                                {{ end }}
                            </tbody>
                        </table>
                        {{ end }}

                        {{ if .channels }}
                        <div class="x_title">
                            <h2>{{ i18n "Channels" . }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <table class="table dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="md-col-1">{{ i18n "Channel" . }}</th>
                                    <th>{{ i18n "Title" . }}</th>
                                    <th>{{ i18n "Bitrate" . }}</th>
                                    <th>{{ i18n "Record" . }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $c, $channel := .channels }}
                                <tr>
                                    <td>{{ $channel.Number }}</td>
                                    <td>{{ $channel.Title }}</td>
                                    <td>{{ $channel.Bitrate }} {{ i18n "bits/second" $ }}</td>
                                    <td>{{ if $channel.Record }}{{ i18n "recording" $ }}{{ end }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                        {{ end }}

                        {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ if or (eq .action "files") (eq .action "") }}
        {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-daterangepicker/css/daterangepicker.min.css" false) }}
    {{ end }}
{{ end }}

{{ define "js" }}
    {{ if eq .action "files" }}
        {{ staticHTML (staticURL "/dashboard/assets/vendors/moment/js/moment.min.js" false) }}
        {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-daterangepicker/js/daterangepicker.min.js" false) }}

        <script type="application/javascript">
            $(document).ready(function () {
                $('#files-date').daterangepicker({
                    timePickerIncrement: 60,
                    minDate: moment().subtract(5, 'year'),
                    maxDate: moment().endOf('day'),
                    applyButtonClasses: 'btn-success',
                    locale: {
                        firstDay: 1,
                        format: 'YYYY.MM.DD HH:mm'
                    },
                    ranges: {
                        '{{ i18n "Today" . }}': [moment(), moment()],
                        '{{ i18n "Yesterday" . }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        '{{ i18n "This week" . }}': [moment().startOf('isoWeek'), moment().endOf('isoWeek')],
                        '{{ i18n "Last week" . }}': [moment().subtract(1, 'isoWeek').startOf('isoWeek'), moment().subtract(1, 'isoWeek').endOf('isoWeek')],
                        '{{ i18n "This month" . }}': [moment().startOf('month'), moment().endOf('month')],
                        '{{ i18n "Last month" . }}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        '{{ i18n "This year" . }}': [moment().startOf('year'), moment().endOf('year')],
                        '{{ i18n "Last year" . }}': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                    },
                });

                $('#files-form').submit(function (e) {
                    var dp = $('#files-date').data('daterangepicker');

                    $('#files-form input[name="from"]').val(moment(dp.startDate).format('YYYY-MM-DD[T]HH:mm:ssZ'));
                    $('#files-form input[name="to"]').val(moment(dp.endDate).format('YYYY-MM-DD[T]HH:mm:ssZ'));
                });
            });
        </script>
    {{ else }}
        {{ staticHTML (staticURL "/dashboard/assets/vendors/moment/js/moment.min.js" false) }}
        {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-daterangepicker/js/daterangepicker.min.js" false) }}

        <script type="application/javascript">
            function setTime(t) {
                $.ajax({
                    type: 'POST',
                    url: $('#settings').prop('action'),
                    data: {
                        time: t
                    },
                    success: function (r) {
                        if (r.result === 'failed') {
                            new PNotify({
                                title: 'Error',
                                text: r.message,
                                type: 'error',
                                hide: false,
                                styling: 'bootstrap3'
                            });
                        } else if (r.message !== 'undefined') {
                            new PNotify({
                                title: 'Success',
                                text: r.message,
                                type: 'success',
                                hide: false,
                                styling: 'bootstrap3'
                            });
                        }
                    }
                });
            }

            $(document).ready(function () {
                $('#time').daterangepicker({
                    singleDatePicker: true,
                    applyButtonClasses: 'btn-success',
                    locale: {
                        format: 'YYYY.MM.DD HH:mm:ss'
                    }
                }, function(start) {
                    setTime(moment(start).format('YYYY.MM.DD HH:mm:ss'))
                });

                $('#time-now').click(function () {
                    setTime('now')
                })
            });
        </script>
    {{ end }}
{{ end }}
