{{ define "content" }}

{{ if .components }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped datatable dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>{{ i18n "ID" . }}</th>
                            <th>{{ i18n "Type" . }}</th>
                            <th>{{ i18n "Name" . }}</th>
                            <th>{{ i18n "State" . }}</th>
                            <th>{{ i18n "Actions" . }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $component := .components }}
                        <tr>
                            <td>{{ $component.GetID }}</td>
                            <td>{{ $component.GetType }}</td>
                            <td>{{ $component.GetName }}</td>
                            <td>{{ $component.GetState }}</td>
                            <td>
                                {{ if or (ne $component.GetCommandTopic.String "") (eq $component.GetID $.Bind.Config.IPAddressSensorID) }}
                                <div class="btn-group" role="group">
                                    {{ if ne $component.GetCommandTopic.String ""}}
                                        {{ if eq $component.GetType.String "light" }}
                                            <a href="{{ $.Request.URL.Path }}?action=component&id={{ $component.GetID }}" class="btn btn-info btn-icon btn-xs">
                                                <i class="glyphicon glyphicon-eye-open" title="{{ i18n "Details" $ }}"></i>
                                            </a>
                                        {{ end }}

                                        {{ if $.Bind.Status.IsStatusOnline }}
                                            {{ if or (eq $component.GetType.String "light") (eq $component.GetType.String "switch") }}
                                                {{ if eq (printf "%v" $component.GetState) "ON" }}
                                                    <a href="{{ $.Request.URL.Path }}?action=command&id={{ $component.GetID }}&cmd=OFF" class="btn btn-danger btn-icon btn-xs">
                                                        <i class="glyphicon glyphicon-stop" title="{{ i18n "Switch off" $ }}"></i>
                                                    </a>
                                                {{ else }}
                                                    <a href="{{ $.Request.URL.Path }}?action=command&id={{ $component.GetID }}&cmd=ON" class="btn btn-danger btn-icon btn-xs">
                                                        <i class="glyphicon glyphicon-play" title="{{ i18n "Turn on" $ }}"></i>
                                                    </a>
                                                {{ end }}
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}

                                    {{ if and $.Bind.Status.IsStatusOnline (eq $component.GetID $.Bind.Config.IPAddressSensorID) }}
                                        <a href="http://{{ $component.GetState }}/" class="btn btn-info btn-icon btn-xs" target="_blank">
                                            <i class="glyphicon glyphicon-globe" title="{{ i18n "Open Web server" $ }}"></i>
                                        </a>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}
{{ end }}
