{{ define "content" }}
<script type="application/javascript">
    function valueFormat(n) {
        return new Intl.NumberFormat().format(n);
    }
</script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div role="tabpanel">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation"{{ if eq .action "" }} class="active"{{ end }}><a href="{{ if eq .action "" }}javascript:void(0);{{ else }}{{ .Request.URL.Path }}{{ end }}">{{ i18n "Accounts" . }}</a></li>
                        <li role="presentation"{{ if eq .action "meters" }} class="active"{{ end }}><a href="{{ if eq .action "meters" }}javascript:void(0);{{ else }}{{ .Request.URL.Path }}?action=meters{{ end }}">{{ i18n "Meters" . }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in">
                            {{ if eq .action "meters" }}
                                {{ if .meters }}
                                    {{ range $meter := .meters }}
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>#{{ $meter.Ident }} {{ $meter.Name }}</h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a></li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <section class="content invoice">
                                                        <div class="row">
                                                            <div class="invoice-header">
                                                                <h2 class="pull-right">{{ $meter.Address }}</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row invoice-info">
                                                            <div class="col-sm-4 invoice-col">
                                                                {{ i18n "Meter" $ }}
                                                                <address>
                                                                    <strong>{{ i18n "Resource" $ }}:</strong> {{ $meter.Resource }}<br />
                                                                    <strong>{{ i18n "Factory number" $ }}:</strong> {{ $meter.FactoryNumber }}
                                                                </address>
                                                            </div>
                                                            <div class="col-sm-4 invoice-col">
                                                                {{ i18n "Checkup" $ }}
                                                                <address>
                                                                    <strong>{{ i18n "Last" $ }}:</strong> {{ $meter.LastCheckupDate }}<br />
                                                                    <strong>{{ i18n "Next" $ }}:</strong> {{ $meter.NextCheckupDate }}<br />
                                                                    <strong>{{ i18n "Interval" $ }}:</strong> {{ i18nPlural "%d year" "%d years" $meter.RecheckInterval $ nil nil nil $meter.RecheckInterval }}
                                                                </address>
                                                            </div>
                                                            <div class="col-sm-4 invoice-col">
                                                                {{ i18n "Start" $ }}
                                                                <address>
                                                                    <strong>{{ i18n "Date" $ }}:</strong> {{ $meter.StartDate }}<br />
                                                                    <strong>{{ i18n "Value" $ }}:</strong> {{ $meter.StartValue }} {{ $meter.Units }}
                                                                </address>
                                                            </div>
                                                        </div>
                                                        {{ if $meter.Values }}
                                                        <div class="row">
                                                            <div class="table">
                                                                <table class="table table-striped nowrap">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ i18n "Date" $ }}</th>
                                                                            <th>{{ i18n "Value" $ }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {{ range $value := $meter.Values }}
                                                                    <tr>
                                                                        <td>{{ $value.Period }}</td>
                                                                        <td align="right" class="text-{{ if eq $value.Kind "Учтено" }}success{{ else }}danger{{ end }}" title="{{ $value.Kind }}">
                                                                            <script type="application/javascript">document.write(valueFormat({{ $value.Value }}))</script> {{ $meter.Units }}
                                                                        </td>
                                                                    </tr>
                                                                    {{ end }}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                {{ if .accounts }}
                                    {{ range $account := .accounts }}
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>{{ $account.Type }} #{{ $account.ID }}</h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a></li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <section class="content invoice">
                                                        <div class="row">
                                                            <div class="invoice-header">
                                                                <h2 class="pull-right">{{ $account.Address }}</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row invoice-info">
                                                            <div class="col-sm-4 invoice-col">
                                                                {{ i18n "From" $ }}
                                                                <address>
                                                                    <strong>{{ $account.FIO }}</strong>
                                                                </address>
                                                            </div>
                                                            <div class="col-sm-4 invoice-col">
                                                                {{ i18n "To" $ }}
                                                                <address>
                                                                    <strong>{{ $account.Company }}</strong><br />
                                                                    {{ i18n "INN" $ }}: {{ $account.CompanyINN }}
                                                                </address>
                                                            </div>
                                                        </div>
                                                        {{ if $account.Transactions }}
                                                        <div class="row">
                                                            <div class="table">
                                                                <table class="table table-striped nowrap">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>{{ i18n "Date" $ }}</th>
                                                                        <th>{{ i18n "Period" $ }}</th>
                                                                        <th>{{ i18n "Debit" $ }}</th>
                                                                        <th>{{ i18n "Credit" $ }}</th>
                                                                        <th>{{ i18n "File" $ }}</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {{ $debit := 0 }}
                                                                    {{ $credit := 0 }}
                                                                    {{ range $transaction := $account.Transactions }}
                                                                    <tr>
                                                                        <td>{{ $transaction.Date }}</td>
                                                                        <td>{{ $transaction.Period }}</td>
                                                                        <td class="text-success" align="right">
                                                                            {{ if $transaction.IsPayment }}
                                                                                <script type="application/javascript">document.write(valueFormat({{ $transaction.Amount }}))</script> &#8381;
                                                                                {{ $debit = add $debit $transaction.Amount }}
                                                                            {{ end }}
                                                                        </td>
                                                                        <td class="text-danger" align="right">
                                                                            {{ if not $transaction.IsPayment }}
                                                                                <script type="application/javascript">document.write(valueFormat({{ $transaction.Amount }}))</script> &#8381;
                                                                                {{ $credit = add $credit $transaction.Amount }}
                                                                            {{ end }}
                                                                        </td>
                                                                        <td>
                                                                            {{ if $transaction.FileURL }}
                                                                                <a href="{{ $transaction.FileURL }}" class="btn btn-info btn-icon btn-xs" target="_blank">
                                                                                    <i class="fas fa-download" title="{{ i18n "Download" $ }}"></i>
                                                                                </a>
                                                                            {{ end }}
                                                                        </td>
                                                                    </tr>
                                                                    {{ end }}
                                                                    <tr>
                                                                        <td colspan="2" align="right">{{ i18n "Total" $ }}</td>
                                                                        <td class="text-success" align="right">
                                                                            <script type="application/javascript">document.write(valueFormat({{ $debit }}))</script> &#8381;
                                                                        </td>
                                                                        <td class="text-danger" align="right">
                                                                            <script type="application/javascript">document.write(valueFormat({{ $credit }}))</script> &#8381;
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
