---
esphome:
  name: ${node_name}
  build_path: ./builds/${node_name}

web_server:
  port: 80
  include_internal: true
  local: false
  version: 3
  js_url: "https://esphome.shosho.ru/v3/www.js"
  sorting_groups:
    - id: diagnostic
      name: "Diagnostic"
      sorting_weight: 100
    - id: esp_settings
      name: "Esp Settings"
      sorting_weight: 101

prometheus:

logger:
  level: "INFO"
  baud_rate: 0

ota:
  - platform: esphome
  - platform: web_server

#debug:
#  update_interval: 30s

mqtt:
  broker: !secret home_mqtt_broker
  username: !secret home_mqtt_user
  password: !secret home_mqtt_password
  use_abbreviations: false
