[Unit]
Description=Boggart server
After=network.target

[Service]
ExecStart=/usr/local/bin/boggart-server
EnvironmentFile=/home/kihamo/go/src/github.com/kihamo/boggart/cmd/server/boggart.env
WorkingDirectory=/home/kihamo/go/src/github.com/kihamo/boggart/cmd/server
Restart=always
User=root

[Install]
WantedBy=multi-user.target