[Unit]
Description=Boggart server
After=network.target

[Service]
ExecStart=/usr/local/bin/boggart-server
EnvironmentFile=/opt/boggart/boggart.env
WorkingDirectory=/opt/boggart
Restart=always
User=root

[Install]
WantedBy=multi-user.target